h1{
    font-size: 2rem;
    text-align:center;
    font-weight: bolder;
    font-style: italics;
    font-family: arial, cursive;
    color: hsl(120, 80%, 41%);

}

.container{
    display: flex;
    height: 90vh;
    border: 5px dashed red;

}

.box{
    height: 60px;
    width: 60px; 
    text-align: center;
    border-radius: 15px;
    align-items: stretch;

}

#box1{
    background-color: red;
    color: blue;
}

#box2{
    background-color: black;
    color:yellow;
}

#box3{
    background-color: green;
    color: black;
}

#box4{
    background-color: blue;
    color: red;
}



