body{
    background-image: url(audi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1[id ="hold"]{
    color: blue;
    font-size: 3em;
    text-align: center;
}
#image >p{
   font-size: center;
   
    float: left;
    margin-left: 0px;
    color: green;
}