<%- include("./subpart/head.ejs") %>
<body>
    <form action = "/users" method = "POST">
        <label for="firstName">
            First Name:
            <input type = "text" name = "firstName" id = "firstName" value = "" >
        </label>
        <label for="name">
            Last Name:
            <input type = "text" name = "lastName" id = "lastName" value = "" >
        </label>
        <button type = "submit">Submit</button>
    </form>
<%- include("./subpart/end.ejs") %>

