<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>about</title>
</head>
<body>
    <h1 style="color: azure;">about me</h1>
    <nav>
        <a href="/">Home</a>
        <a href="about">About</a>
        <a href="portfolio">Portfololio</a>
        <a href="contactUs">Contact</a>
    </nav>
    <p>I'm Tenzing, a BTech student here in Bengaluru. Being an engineering student is both challenging 
        and rewarding. I'm constantly learning new things and expanding my knowledge base, which I find 
        very exciting. While the coursework can be demanding, the sense of accomplishment I get from overcoming
         those challenges is truly fulfilling.  I'm always looking for ways to apply what I'm learning in the 
         classroom to real-world problems. </p>
</body>
</html>