<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home of my personal website</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body{
            background-color: rgb(225, 199, 166);
        }
    </style>
</head>
<body>
    <h1 style="color: rgb(5, 83, 57);">Welcome To My Personal Website.</h1>
    <nav>
        <a href="/">Home</a>
        <a href="about">About</a>
        <a href="portfolio">Portfololio</a>
        <a href="contactUs">Contact</a>
    </nav>
    <p>Welcome all!</p>
</body>
</html>