body{
    background: url(https://images.unsplash.com/photo-1617527019968-052733f9cfe8?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZGljZXxlbnwwfHwwfHx8MA%3D%3D);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;

}
h2{
    text-transform: capitalize;
    margin-top: 3%;
    align-items: center;
    text-align: center;
}

#gamecontrol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: rgba(21, 128, 195, 0.04);
    padding: 5px 0 30px 10px;
}

.hidden{
    display: none;
}



#game{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background: rgba(172, 98, 120, 0.635); */
    padding: 10px 0 10px 10px;
}

#actions{
    display: flex;
    justify-content: center;
    width: 100%;
    /* background: rgba(253, 145, 174, 0.565); */
    padding: 10px 0 10px 10px;
    line-height: 50px;
}

img{
    height: 30px;
    width: 30px;
    margin: 0 5px;
}

.game{
    background: rgba(172, 98, 120, 0.635);
}

.actions{
    background: rgba(253, 145, 174, 0.565);
}

p{
    text-align: center;
    font-size: 1.5rem;
}

strong{
    font-size: 2rem;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#score h2{
    font-size: 3rem;
}

.dice-rolling {
    animation: spin 1s linear infinite;
    -webkit-animation: spin 0.1s linear 3;
}

@keyframes spin{
    0%{ transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100%{ transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

